#welcome{
  font-family: consolas;
  font-size: 20;
  color: rgb(88, 196, 234);
  text-align: center;
}

.paractr {
  font-family: consolas;
  font-size: 14;
  text-align: center;
}

.myfaveq {
  font-family: consolas;
  font-size: 20;
  text-align: center;
}
